<div class="jumbotron bg-dark container">
    <br>
    <div class="container">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
                <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="text-light">
                        <h1 class="display-2">Panadero</h1>
                        <hr class="my-4">
                        <p class="lead">Salario neto mensual:</p>
                        <p> $7,278.00</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="text-light">
                        <h1 class="display-2">Jefe mantenimiento</h1>
                        <hr class="my-4">
                        <p class="lead">Salario neto mensual:</p>
                        <p> $16,278.00</p>



                    </div>
                </div>
                <div class="carousel-item">
                    <div class="text-light">
                        <h1 class="display-2">Marketing</h1>
                       <hr class="my-4">
                        <p class="lead">Salario neto mensual:</p>
                        <p> $17,578.00</p>

                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
    <div class="card col-md-4">
        <div class="card-body">
            <h1 class="display-4">
                Jefe de mantenimiento
            </h1>
        </div>
        <div class="card-footer">

            <p>Ubicación:
                Chihuahua, Juárez -</p>

            <p>Tipo de contrato:
                Contrato por tiempo indeterminado</p>

            <p>Vigencia de la oferta:
                9 de enero de 2021</p>

            <p>Días laborales:
                L Ma Mi J V</p>

            <p>Horario de trabajo:
                6:00 a 15:00 hrs.</p>

            <p>Rolar turnos:
                No</p>


            <p>Estudios Solicitados:
                Licenciatura en Ingeniería en mantenimiento industrial , Titulado</p>
        </div>

    </div>
    <div class="card col-md-4">
        <div class="card-body">
            <h1 class="display-4">
                Marketing
            </h1>
        </div>
        <div class="card-footer">
            <p>Ubicación:
                Chihuahua, Juárez -</p>

            <p>Tipo de contrato:
                Contrato temporal</p>

            <p>Vigencia de la oferta:
                9 de enero de 2021</p>

            <p>Días laborales:
                L Ma Mi J V</p>

            <p>Horario de trabajo:
                6:00 a 15:00 hrs.</p>

            <p>Rolar turnos:
                No</p>


            <p>Estudios Solicitados:
                Licenciatura en marketing o a fin , Titulado</p>
        </div>
    </div>
    <div class="card col-md-4">
    <div class="card-body">
        <h1 class="display-4">
            Panadero
        </h1>
    </div>
    <div class="card-footer">
        <p>Ubicación:
            Chihuahua, Juárez -</p>

        <p>Tipo de contrato:
            Contrato por tiempo indeterminado</p>

        <p>Vigencia de la oferta:
            9 de febrero de 2025</p>

        <p>Días laborales:
            L Ma Mi J V</p>

        <p>Horario de trabajo:
            6:00 a 15:00 hrs.</p>

        <p>Rolar turnos:
            No</p>


        <p>Estudios Solicitados:
            Primaria acabada
        </p>
    </div>
</div>

</div>
</div>

