

<div class="container">
    <div class="row  row-cols-xs-12 row-cols-sm-6 row-cols-md-4">
    <div class="col">
        <div class="card " >
            <img src="./img/p-fresa.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Pastel de fresa</h5>
                <p class="card-text">

                </p>
                <button class="btn btn-primary">Comprar</button>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card ">
            <img src="./img/cuerno.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Cuernito</h5>
                <p class="card-text">

                </p>
                <button class="btn btn-primary">Comprar</button>
            </div>
        </div>
    </div>

    <div class="col">
       <div class="card ">
            <img src="./img/concha.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Concha</h5>
                <p class="card-text">

                </p>
                <button class="btn btn-primary">Comprar</button>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card ">
            <img src="./img/dona.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Dona</h5>
                <p class="card-text">

                </p>
                <button class="btn btn-primary">Comprar</button>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card ">
            <img src="./img/p-chocoflan.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Pastel de chocoflan</h5>
                <p class="card-text">

                </p>
                <button class="btn btn-primary">Comprar</button>
            </div>
        </div>
    </div>

    <div class="col">
         <div class="card ">
            <img src="./img/p-hamburgesa.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Pan de hamburhesa</h5>
                <p class="card-text">

                </p>
                <button class="btn btn-primary">Comprar</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card ">
            <img src="./img/p-muerto.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Pan de muerto</h5>
                <p class="card-text">

                </p>
                <button class="btn btn-primary">Comprar</button>
            </div>
        </div>
    </div>
</div>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>