

<div class="container">
    <div class="row  row-cols-xs-12 row-cols-sm-6 row-cols-md-4">
    <div class="col">
        <div class="card " >
            <img src="./img/p-fresa.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Pastel de fresa</h5>
                <p class="card-text">

                </p>
                <button class="btn btn-primary">Comprar</button>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card ">
            <img src="./img/cuerno.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Cuernito</h5>
                <p class="card-text">

                </p>
                <button class="btn btn-primary">Comprar</button>
            </div>
        </div>
    </div>

    <div class="col">
       <div class="card ">
            <img src="./img/concha.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Concha</h5>
                <p class="card-text">

                </p>
                <button class="btn btn-primary">Comprar</button>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card ">
            <img src="./img/dona.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Dona</h5>
                <p class="card-text">

                </p>
                <button class="btn btn-primary">Comprar</button>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card ">
            <img src="./img/p-chocoflan.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Pastel de chocoflan</h5>
                <p class="card-text">

                </p>
                <button class="btn btn-primary">Comprar</button>
            </div>
        </div>
    </div>

    <div class="col">
         <div class="card ">
            <img src="./img/p-hamburgesa.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Pan de hamburhesa</h5>
                <p class="card-text">

                </p>
                <button class="btn btn-primary">Comprar</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card ">
            <img src="./img/p-muerto.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Pan de muerto</h5>
                <p class="card-text">

                </p>
                <button class="btn btn-primary">Comprar</button>
            </div>
        </div>
    </div>
</div>
</div>
